# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vcs_repo\sourcecode-learn-mybatis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
